# Ignore Python virtual environment
backend/venv/

# Ignore Python cache
backend/__pycache__/

# Ignore Flask environment variables
backend/.env

# Ignore Next.js build and dependencies
frontend/fe-february-cb-project/
frontend/fe-february-cb-project/.next/
frontend/fe-february-cb-project/node_modules/
frontend/fe-february-cb-project/.env.local
frontend/fe-february-cb-project/.env

# Ignore general system files
.DS_Store
Thumbs.db
