.modal-overlay {
  animation: fadeIn 0.5s ease-in-out;
}

.modal-overlay.leaving {
  opacity: 0;
}

.modal-content {
  animation: slideIn 0.5s ease-in-out;
}

.modal-content.leaving {
  transform: translateY(100vh);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}
